<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <title>bookingdetails</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="{%url 'ownerhome' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="caption">
        <div class="headfont">
            <center>
                <h1><b><u>Adddetails</u></b></h1>
            </center>

        </div>
    </div>
    <div class="container">
        <table class="table table-sriped table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Special</th>
                    <th>Opentime</th>
                    <th>Closetime</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for restdetails in cont1 %}
                <tr>
                    <td>{{restdetails.special}}</td>
                    <td>{{restdetails.opentime}}</td>
                    <td>{{restdetails.closetime}}</td>

                    <td>
                        <a href="{% url 'edit_url' restdetails.id%}"><span class="glyphicon glyphicon-penci">Edit</span></a>
                        <a href="/delete2/{{restdetails.id}}">Delete</a>

                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>