{% load static %}
<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <title>contact</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="{%url 'ownerhome' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="caption">
        <div class="headfont">
            <center>
                <h1><b><u>Contact</u></b></h1>
            </center>

        </div>
    </div>
    <div class="container">
        <table class="table table-sriped table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for contactdetails in cont %}
                <tr>
                    <td>{{contactdetails.Name}}</td>
                    <td>{{contactdetails.Phone}}</td>
                    <td>{{contactdetails.Email}}</td>
                    <td>{{contactdetails.Subject}}</td>

                    <td>
                        <a href="/delete1/{{contactdetails.id}}">delete</a>

                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>